<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/573dbe14f5.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
        <div class="container">
            <a href="/">
                <button class="logo-btn">
                    <img class="logo" src="" alt="videoChat Logo">
                </button>
            </a>
            <button class="menu" onclick="openNav()">
                <i class="fa-solid fa-bars"></i>
            </button> 
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <img class="pop-up-logo" src="" alt="videoChat Logo">
                <a href="/">Home</a>
                <a href="/about">About us</a>
                <a href="/contact">Contact</a>
                <a href="/terms">Terms & Conditions</a>
                <div class="support_us" >
                    <a href="#">Support Our Team</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
  <center>
    <h1 style="color: black;">Contact us</h1>
  
  <p style="font-weight: 500; color: gray;">
      <b style="color: black;">videoChat Team </b>&#128516;
  </p>  
  </center>
  <br><br>
  <center>
  <form action="mailto:" method="post" id="contactForm" enctype="text/plain">
    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" name="fullName" required>

    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" required>

    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone">

    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="4" required></textarea>

    <input type="submit" value="Submit">
  </form>
  </center>
</main>

<footer>
  <center>
      <a href="https://instagram.com/" class="fa-brands fa-instagram"></a>
      <a href="https://twitter.com/" class="fa-brands fa-x-twitter"></a>
      <p class="copyright">Copyright © 2024 <b>videoChat</b>. All Rights Reserved.</p>
  </center>
</footer>
  
<script src="/js/contact.js"></script>

</body>
</html>
